.row {
    width: 400px;
}

.card {
    width: 75%;
    padding-right: 0;
    background-color: #e6d7ff;
    color: #533153;
}

.progress {
    height: 10px;
}

.progress-bar {
    background-color: #8D538D;
}

.text-white {
    width: 17%;
}

.card-title {
    text-align: center;
}