.container {
    /* background-color: #d2ccff; */
    border-radius: 5px;
}

.emoji-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

h1 {
    margin-bottom: 5px;
}

h2 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 60px;
}

.emoji-card {
    justify-content: center;
    width: 64px;
}

.emoji-desc {
    font-size: 24px;
    overflow-x: visible;
    text-align: center;
    display: block;
}

.emoji {
    width: 64px;
    height: 64px;
    display: block;
    border-radius: 32px;
    transition-duration: 0.3s;
}

.emoji:hover {
    border-radius: 36px;
    width: 72px;
    height: 72px;
    transition-duration: 0.3s;
}